*{
  padding: 0;
  margin: 0;
}

label, p{
  display: inline-block;
}

.container{
  background-color: #F1F1F1;
}

.container.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container.has-fixed-bottom{
  padding-bottom: 100rpx;
  box-sizing: border-box;
}


.container.has-fixed-bottom.iphonex{
  padding-bottom: 164rpx;
}


.container .fixed-bottom-actions{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100rpx;
  background-color: #FFFFFF;
}

.container.iphonex .fixed-bottom-actions{
  height: 164rpx;
}

.background-image{
  position: relative;
}

.background-wrap{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* pe form */

.pe-form{
  width: 100%;
  padding: 80rpx 30rpx;
  box-sizing: border-box;
}

.pe-form .form-item{
  width: 690rpx;
  height: 110rpx;
  background-color: #EFEFF4;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28rpx;
  border-radius: 10rpx;
}

.pe-form .form-item:nth-child(n+2){
  margin-top: 30rpx;
}

.pe-form .form-item .form-label{
  padding-right: 1em;
  box-sizing: border-box;
  color: #0BC99D;
  border-right: 1px solid #0BC99D;
  width: 6em;
  text-align: right;
}

.pe-form .form-item .form-value{
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0 20rpx;
  color: #222222;
  display: flex;
  align-items: center;
}

.pe-form .form-item:not(.form-item-resize) .form-value input, .pe-form .form-item:not(.form-item-resize) .form-value picker{
  width: 100%;
  height: 110rpx;
  line-height: 110rpx;
}

.pe-form .form-item .form-value picker{
  width: 100%;
}

.pe-form .form-item .form-value .picker{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110rpx;
  line-height: 110rpx;
  align-items: center;
}

.pe-form .form-item .form-value .picker p{
  flex: 1;
  width: 100%;
  height: 110rpx;
  overflow: hidden;
}

.pe-form .form-item .form-value .picker p.picker-placeholder{
  color: #7d7e80;
}

.pe-form .form-item .form-value .picker-icon-arrow{
  width: 20rpx;
  height: 20rpx;
}

.pe-form .form-agreements-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 60rpx;
  padding-top: 30rpx;
}

.pe-form .form-agreements-wrapper .form-agreement-image{
  width: 60rpx;
  height: 60rpx;
}

.pe-form .form-agreements-wrapper .form-agreement-link{
  font-size: 26rpx;
  color: #0BC99D;
  text-decoration: underline;
  margin-left: 20rpx;
}

.pe-form .submit-btn{
  width: 100%;
  height: 94rpx;
  background: linear-gradient(90deg,rgba(11,201,157,1),rgba(4,216,139,1));
  border-radius: 47rpx;
  color: #FFFFFF;
  line-height: 94rpx;
  font-size: 38rpx;
  box-sizing: border-box;
  border: none;
  margin-top: 30rpx;
}

.pe-form .submit-btn:before{
  border: none;
}

.pe-form .form-item.form-item-resize{
  height: auto;
  /*background-color: #FFFFFF;*/
  align-items: unset;
}

.pe-form .form-item.form-item-resize .form-resize-label{
  height: 110rpx;
  display: flex;
  align-items: center;
}

.pe-form .form-item.form-item-resize .form-value{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rpx 0;
}

.pe-form .form-item.form-item-resize.form-item-column{
  display: flex;
  flex-direction: column;
}

.pe-form .form-upload-wrapper{

}

.pe-form .form-upload-wrapper .form-upload-btn{
  width: 300rpx;
  height: 300rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #0BC99D;
  border-radius:10rpx;
}

.pe-form .form-upload-wrapper .form-upload-image{
  width: 300rpx;
  height: 300rpx;
  display: flex;
  border: 1px dashed #0BC99D;
  border-radius:10rpx;
}

.pe-form .form-upload-wrapper .form-upload-btn image{
  width: 200rpx;
  height: 200rpx;
}

/* pe form */

/* pe cell list */

.pe-cell-list{
  width: 100%;
  padding: 80rpx 30rpx;
  box-sizing: border-box;
}

.pe-cell-list .cell-item{
  width: 690rpx;
  height: 80rpx;
  /*background-color: #EFEFF4;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28rpx;
  border-bottom: 1px solid #F4F4F4;
}
.pe-cell-list .cell-item label{
  padding-right: 1em;
  box-sizing: border-box;
  color: #0BC99D;
  border-right: 2rpx solid #0BC99D;
  width: 6em;
  text-align: right;
}
.pe-cell-list .cell-item .value{
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0 20rpx;
  color: #222222;
  display: flex;
  align-items: center;
}
.pe-cell-list .cell-actions{
  margin-top: 50rpx;
}

/* pe cell list */

/* setpper */

.stepper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stepper-minus, .stepper-plus{
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #0BC99D;
  position: relative;
  padding: 5px;
  vertical-align: middle;
}

.stepper-minus.disabled, .stepper-plus.disabled{
  background-color: #f8f8f8;
}

.stepper-minus__before,.stepper-minus__after,.stepper-plus__before,.stepper-plus__after{
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0BC99D;
}

.stepper-minus{
  border-radius: 2px 0 0 2px;
}

.stepper-input{
  width: 33px;
  height: 30px;
  padding: 1px;
  border: 1px solid #0BC99D;
  border-width: 1px 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #0BC99D;
  background-color: #FFFFFF;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  min-height:unset;
}

.stepper-plus{
  border-radius: 0 2px 2px 0;
}

.stepper-minus__before, .stepper-plus__before {
  width: 9px;
  height: 1px;
}

.stepper-plus__after {
  width: 1px;
  height: 9px;
}

/* setpper */

/* transparent btn */

.transparent-btn{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: unset;
  line-height: unset;
  text-align: unset;
  border-radius: unset;
  background-color: transparent;
  color: unset;
}

.transparent-btn:after{
  border: none;
}

/* transparent btn */

/* emoij */

.emoij-list{
  width: 100%;
  padding: 0 30rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.emoij-wrapper{
  width: 100%; padding: 0 30rpx;
  box-sizing: border-box;
}
.emoij-item{
  width: 690rpx;
  background-color: #FFFFFF;
  border-radius: 10rpx;
  overflow: hidden;
  margin-top: 30rpx;
}
.emoij-item .emoij{
  margin: 20rpx;
  width: 650rpx;
  height: 650rpx;
}
.emoij-item .emoij-item-content{
  width: 690rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom:20rpx;
}
.emoij-item .emoij-item-content .user-avatar{
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  margin-left: 20rpx;
  margin-right: 20rpx;
}
.emoij-item .emoij-item-content .user-n-t{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.emoij-item .emoij-item-content .user-n-t .nickname{
  font-size: 26rpx;
  color: #222222;
}
.emoij-item .emoij-item-content .user-n-t .created-at{
  font-size: 24rpx;
  color: #999999;
}
.emoij-item .emoij-item-content .emoij-icon{
  display: flex;
  flex-direction: row;
  font-size: 24rpx;
  color: #999999;
  width: 130rpx;
  overflow: hidden;
}
.emoij-item .emoij-item-content .emoij-icon .icon{
  width: 30rpx;
  height: 30rpx;
}
.emoij-item .emoij-item-content .emoij-icon p{
  font-size: 24rpx;
  color: #999999;
  padding-left: 10rpx;
}
.emoij-actions{
  margin-top: 30rpx;
  display: flex;
  flex-direction: row;
}
.emoij-actions .emoij-action{
  width: 330rpx;
  height: 60rpx;
  box-sizing: border-box;
  background-color: #FFE000;
  border-radius: 10rpx;
  color: #000000;
  font-size: 24rpx;
  line-height: 60rpx;
  text-align: center;
}
.emoij-actions .emoij-action:nth-child(2){
  margin-left: 30rpx;
}

/* emoij */